@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import './app-header.css';
@import './date-picker.css';
@import './loader.css';
@import './items.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 32px auto;
}

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
  }


h3{
  color: #c0392b;
}

p{
  margin-top: 16px;
  color: #353b48;
}

